Options -MultiViews
RewriteEngine On

<IfModule mod_headers.c>
    <FilesMatch "^(index\.html|manifest\.json)$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "0"
    </FilesMatch>
</IfModule>

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_URI} !^/assets/ [NC]
RewriteCond %{REQUEST_URI} !\.(jpg|jpeg|png|gif|webp|svg)$ [NC]

RewriteRule ^ index.html [QSA,L]
