Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_URI} !^/assets/ [NC]
RewriteCond %{REQUEST_URI} !\.(jpg|jpeg|png|gif|webp|svg)$ [NC]

RewriteRule ^ index.html [QSA,L]